@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*
font-family: 'Acme', sans-serif;

*/

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    /* overflow: auto; */
    outline:none;
}
:root{
    --color-one:rgb(253, 212, 158);
    --font-one:'Acme', sans-serif;
    --background:#d8d7d7;
    --background-onclick:#cacaca;
    --dark-color:#818181;
    --light-color:#e9e9e9;
    --inner-shadow:inset 18px 18px 36px var(--dark-color),inset -18px -18px 36px var(--light-color);
    --outer-shadow:18px 18px 36px var(--dark-color),-18px -18px 36px var(--light-color);
    /* --small-outer-shadow: 5px 5px 10px var(--dark-color) ,-5px -5px 10px var(--light-color);
    --small-inner-shadow:inset 5px 5px 10px var(--dark-color) , inset -5px -5px 5px var(--light-color); */
    --card-outer-shadow: 16px 16px 24px #b5b5b5,-16px -16px 24px #fbf9f9;         
    --small-outer-shadow: 3px 3px 2px var(--dark-color) ,-3px -3px 2px var(--light-color);
    --small-inner-shadow:inset 3px 3px 2px var(--dark-color) , inset -3px -3px 2px var(--light-color);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background);
    position: relative;
    overflow-x: hidden;
}
img{
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;

-o-user-select: none;
}
header{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 10;
}

header .cont{
    /* background-color: rgb(202, 200, 201); */
    height: 100px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    /* border: 2px solid rgb(255, 125, 60); */
}
header .cont .logo{
    border: 2px solid rgb(255, 125, 60);
    color: rgb(255, 125, 60);
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    margin-left: 45px;
    box-shadow:  var(--small-outer-shadow);
    background-color: azure;         
    transition: 1s ease;
    cursor:default;
}

header .cont button{
    height: 60px;
    width: 60px;
    border-radius: 30px;;
    text-align: center;
    /* border:none; */
    padding: 10px;
    border: 5px solid transparent; 
    box-shadow: inset 2px 2px 2px var(--light-color) 
            , inset -2px -2px 2px var(--dark-color);
    margin-right: 25px;         
    background-color: var(--background);
    
}
header .cont button div{
    margin: 3px 0;
    border: 1px solid black;
    width:60%;
    transform: translateX(30%);
}
header button:hover{
    /* box-shadow: none; */
    /* box-shadow: inset 2px 2px 2px var(--dark-color) 
            , inset -2px -2px 2px var(--light-color); */
    
               
}
header .cont button:hover > div{
    border-color: red;
}

header .cont .container .dropdown {
    position: relative;
}
header .cont .container .dropdown .box {
    width: 200px;
    /* height: 300px; */
    /* border: 1px solid red; */
    display: none;
    position: absolute;
    right:25px;
    z-index: 10;
    background-color: var(--background);
    box-shadow: var(--small-inner-shadow);
    
}
header .cont .container .dropdown .box div{
    padding: 10px 20px;
   
    border-top: 2px solid rgb(184, 184, 184);
    border-radius: 25px;
    /* margin-top: 10px; */
    box-shadow: var(--small-inner-shadow);
    border: 10px solid transparent;
}
header .cont .container .dropdown .box a{
    text-decoration: none;
    /* border: 1px solid red; */
    color:gray;
    font-size: 20px;
    text-transform: capitalize;
    
}
header .cont .container .dropdown .box div:hover{
    box-shadow: inset 3px 3px 2px var(--light-color) 
            , inset -3px -3px 2px var(--dark-color);
}
header .cont .container .dropdown .box a:hover{
    color:rgb(96, 13, 250);
    letter-spacing: 1px;
}
/*sectionA*/
.sectionA{
    display: flex;
    /* border:1px solid black; */
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    padding: 150px 0;
    
    
}
.sectionA .colA{
    /* border:2px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* max-height: 400px; */
    width: 500px;
   
    
}
.sectionA .colA p{
    font-size: 80px;
    margin:0px 0px 10px 0;
}
.sectionA .colA h4{
    font-size: 25px;
    font-weight: 500;
    color:rgb(93, 93, 93)
}
.sectionA .colA h3{
    font-weight: 500;
    font-size: 30px;
    
    
}
.sectionA .colA div {
    /* width:100%; */
    margin-top: 15px;
    box-shadow:var(--small-inner-shadow);
    padding: 5px;
    border-radius: 25px;
    border:none;
}        
.sectionA .colA button{
    
    padding: 15px 20px;
    margin: 1px ;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    background-color: var(--color-one);
    box-shadow:var(--small-outer-shadow)
   
    
}
.sectionA .colA button a{
    text-decoration: none;
    color: black;
}
.sectionA .colA span{
    font-family: 'Acme', sans-serif; ;
}
.sectionA .colB{
    
    /* border: 10px solid #000000; */
    box-shadow:var(--inner-shadow);
            
    /* height: 340px;
    width:340px;          */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    
}
.sectionA .colB img{
    max-height: 500px;
    max-width:500px;
    border-radius:50%;
    border: 10px solid transparent;
    object-fit: contain;
    box-shadow: var(--outer-shadow);
}
/* 7px 7px 20px #000000 inset,
7px 7px 20px #000000, */

.sectionB {
    position: relative;
}
.sectionB .effects{
    position: absolute;
    z-index:1;
}


.sectionB .effect1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    width: 50px;
    /* border: 1px solid red; */
    /* height:15 */
    bottom: 550px;
    left:10px;
    transform: rotate(45deg);
}
.sectionB .effect1 div{
    width: 5px;
    height: 5px;
    background-color: rgb(246, 97, 11);
    margin:0 5px 5px;
    animation:topBounce 2s linear infinite ;
}
.sectionB .effect2{
    width: 40px;
    height:40px;
    border: 8px solid rgb(31, 98, 255);
    bottom: 650px;
    right: 100px;
    animation:spin 4s linear infinite;
}
.sectionB .effect3{
    /* width: 100px; */
    width: 50px;
    height: 50px;
    bottom: 100px;
    left: 20%;
    display: flex;
    border-radius: 50%;
    /* border: 1px solid green; */
    overflow: hidden;
    animation :spin 12s linear infinite ;
}
.sectionB .effect3 div{
    height: 60px;
    width: 2px;
    border: 1px solid red;
    margin:0 2px;
}

.sectionB .effect4 {
    border-top:35px solid transparent ;
    border-left:35px solid rgb(23, 228, 75) ;
    /* border-right:25px solid rgb(23, 228, 75) ;
    border-bottom:25px solid transparent ; */
    bottom: 600px;
    right: 50%;
}
.sectionB .effect4::before{
    content: '';
    border-top:35px solid transparent ;
    border-left:35px solid rgb(23, 228, 75) ;
    opacity: 0.4;
    position: absolute;
    right: 15px;
    bottom: -10px;
} 
.sectionB .effect5{
    width: 200px;
    height: 200px;
    border-radius:50%;
    border: 30px solid orange;
    bottom: 725px;
    left: 50%;
    animation: LeftRight 3s linear infinite;
}
.sectionB .copy-of5{
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 200px solid rgb(106, 42, 245);
    z-index: -1;
    left: -300px;
    bottom: 100px;
    animation: topdown 5s linear infinite;
}
.sectionB .copy-of2-a{
    width: 20px;
    height:20px;
    border: 5px solid rgb(174, 71, 243);
    bottom: 100px;
    right: 100px;
    animation:spin 2s linear infinite;
}
.sectionB .copy-of2-b{
    width: 20px;
    height:20px;
    /* border: 7px solid rgb(240, 146, 58); */
    background-color: rgb(255, 178, 107);
    bottom: 700px;
    left: 25%;
    animation:spin 3s linear infinite;
    z-index: -2;
}
.sectionB .copy-of2-c{
    width: 10px;
    height:10px;
    background-color: rgb(58, 122, 240);
    bottom: 0px;
    right: 30%;
    animation:spin 3s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionB .copy-of2-c .small-sq{

    width: 10px;
    height:10px;
    background-color: rgb(58, 122, 240);
    
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionB .copy-of2-c .small-sq div{
    width: 5px;
    height:5px;
    border-radius: 5px;
    background-color: rgb(58, 122, 240);
}
@keyframes topdown{
    0%,100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(50%);
    }
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce{
    0%,100%{
        margin:0 5px 5px;
    }
    50%{
        margin:0 4px 4px;
    }
}
@keyframes LeftRight{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(30px);
    }
}
/*SectionB about me*/
.sectionC{
    
    
}
.sectionC h3{
    text-align: center;
    padding: 32px 0;
    border-bottom:2px solid white;
    font-size: 32px;
    color:black;
    font-family: var(--font-one);
    letter-spacing: 2px;
    font-weight: 500;
    
}
.sectionC .container{
    display: flex;
    background-color: var(--background);
} 
.sectionC .boxA{
    flex:40%;
    border-right: 5px solid var(--color-one);
    position: relative;
    
}
.sectionC .boxA .img-box {
   /* border: 10px solid red; */
   max-width: 400px;
   max-height: 400px;  
   /* border-radius: 50%; */
   overflow: hidden;
   padding: 10px ;
   /* box-shadow: var(--inner-shadow); */
   border: none;
   margin:0 auto;
   /* margin-top: 40px; */
   background-color:red;
} 
.sectionC .img-box img{
    width: 50%;
    height: 100%;
    /* object-fit: contain; */
    border-radius: 50%;
    /* box-shadow: var(--outer-shadow); */
    /* border: 10px solid var(--color-one); */
}
.sectionC .icons {
    /* border: 1px solid red; */
    text-align: center;
     padding:50px 0;
}
.sectionC .icons div{
   display: inline-block;
   font-size: 25px;
   margin: 10px 10px;
   box-shadow: var(--small-outer-shadow);
   /* padding:5px 10px; */
   width: 50px;
   height: 40px;
   position: relative;
}
.sectionC .icons div i{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50% );
}
.sectionC .icons div:hover {
    color:red;
    box-shadow: var(--small-inner-shadow);
}
.sectionC .boxB{
    flex:60%;
    text-align: center;
    /* border: 1px solid black; */
    padding-left:20px ;
    
}

.sectionC .boxB p{
    text-align: left;
    /* font-size: 22px; */
    font-size:calc(1vw) ;
    max-width: 600px;
    /* border: 1px solid black; */
    /* margin: auto auto; */
    /* box-shadow:var(--inner-shadow) */
    color: gray; 
    /* text */
    padding: 10px 0;
    font-weight: 500;
}
.sectionC .boxB p span{
    color:black    
}
.sectionC .buttons{
    /* border: 1px solid black; */
    padding: 10px 0;
    max-width: 600px;
}
.sectionC button{
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    margin: 10px 25px;
    background-color: var(--color-one);
    box-shadow:var(--small-outer-shadow);
    font-size: 15px;
}
/* @media screen all and (max-width:){
    .sectionC     
} */

/*sectionD*/
.sectionD{
    margin-top :100px ;
    min-height: 600px;
    padding-bottom: 50px;
}
.sectionD .options{
    display: flex;
    /* border-top: 2px solid white; */
    justify-content: center;
}
 
.sectionD .options button{
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    margin: 10px 25px;
    
    box-shadow:var(--small-outer-shadow);
    font-size: 15px;
}
.sectionD .options button:hover{
    
}
.sectionD .options .active{
    background-color: var(--color-one);
    box-shadow:var(--small-inner-shadow);
}


.sectionD .skills{
    margin: 30px 0;
    display:none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    /* min-height: 500px; */
}
.sectionD .skills-active{
    display: flex;
}
.sectionD .skills .box{
    width:45%;
    margin: 15px 10px;
    /* display: flex;
    flex-direction: column; */
}

.sectionD .skills .box div{
    max-width:600px;
    height: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: var(--small-inner-shadow);
    /* border: 1px solid green; */
    background-color: rgb(236, 236, 236);
    /* padding: 10px 0; */
    position:relative;
}
.sectionD .skills .box:nth-child(odd) {
    padding: 10px 10px 0 calc(45% - 600px) ;
  
} 
.sectionD .skills .box p{
    font-size: 20px;
    letter-spacing: 1pt;
    font-family:var(--font-one);
}
.sectionD .skills .box span{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    display:inline-block;
    box-shadow: var(--small-outer-shadow);
    background-color:rgb(14, 170, 8);
    height: 10px;
    border:5px solid transparent;
}

/*sectionD education*/
.sectionD .education,.sectionD .experience{
    position: relative;
    /* border: 1px solid white; */
    padding-top: 50px ;
    margin-top: 50px;
    display: none;
    
}
.sectionD .education-active,.sectionD .experience-active{
    display: block;
}
.sectionD .education .cont,.sectionD .experience .cont{
    width:100%;
    padding: 20px 30px;
}
.sectionD .education .cont::before,
.sectionD .experience .cont::before{
    content:'';
    height: 100%;
    width: 2px;
    /* border: 2px solid red; */
    background-color: red;
    position: absolute;
    left:50%;
    top: 0;
}
.sectionD .education .row,
.sectionD .experience .row{
    /* width: 50%; */
    /* border: 1px solid red; */
    /* max-height: 400px; */
    position: relative;
    height: 200px;
}

.sectionD .education .row .card,
.sectionD .experience .row .card{
    /* border: 1px solid black; */
    padding: 15px 20px;
    max-width: 425px;
    position: absolute;
    box-shadow: var(--card-outer-shadow);
    border-radius: 15px;
}

.sectionD .education .row .cardodd,
.sectionD .experience .row .cardodd{
    right:calc(50% + 50px);
    text-align: right;
}
.sectionD .education .row .cardeven,
.sectionD .experience .row .cardeven{
    left:calc(50% + 50px);
    text-align: left;
}

.sectionD .education .row .card h5,
.sectionD .experience .row .card h5{
    font-size: 16px; 
    font-weight: 500;
}
.sectionD .education .row .card h3,
.sectionD .experience .row .card h3{
    font-size: 22px;
    text-transform: capitalize;
    margin: 6px 0;
    /* position: relative;  */
}
.sectionD .education .row .card h3::after,
.sectionD .experience .row .card h3::after{
    content:'';
    width: 30px;
    height: 2px;
    /* border: 1px solid red; */
    background-color: red;
    position: absolute; 
}  
.sectionD .education .row .cardodd h3::after,
.sectionD .experience .row .cardodd h3::after{
    right:-30px;
    transform: translateY(15px);
}
.sectionD .education .row .cardeven h3::after,
.sectionD .experience .row .cardeven h3::after{
    left:-30px;
    transform: translateY(15px);
}
.sectionD .education .card p,
.sectionD .experience .card p{
    font-size: 22px;
}
.sectionD .education .row .card .icon,
.sectionD .experience .row .card .icon{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color :white;
}
.sectionD .education .row .card .icon-odd,
.sectionD .experience .row .card .icon-odd {
    right:-50px;
    transform: translateX(50%);
}
.sectionD .education .row .card .icon-even,
.sectionD .experience .row .card .icon-even {
    left:-50px;
    transform: translateX(-50%);
}
/*exerience different style*/
.sectionD .experience .cont::before{
    background-color:blue;
}
.sectionD .experience .row .card h3::after{
    background-color:blue;
}
.sectionD .experience .row .card .icon{
    font-size: 40px;
    border:none;
    color:blue
    
}



/*sectionE */
.sectionE{
    margin-bottom: 30px;
}
.sectionE h3{
    text-align: center;
    padding: 32px 0;
    border-top:2px solid white;
    font-size: 32px;
    color:black;
    font-family: var(--font-one);
    letter-spacing: 2px;
    font-weight: 500;
}
.sectionE .container{
    max-width: 85% ;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    
}
.sectionE .container .cards{
    margin: 20px 15px; 
    box-shadow: var(--small-outer-shadow);
    padding: 10px;
    border-radius:20px;
}

.sectionE .container .cards .card img{
    width: 375px;
    height: 220px;
    border-radius: 20px;
    border: 5px solid transparent; 
    padding: 10px;
    box-shadow: var(--small-inner-shadow);
    cursor:pointer;
}
.sectionE .container .cards .card h4{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 15px ;
    
    width:40%;
}
.sectionE .container .cards .card h5{
    text-transform: capitalize;
    padding-left: 15px;
    color:indianred;
    font-size: 16px;
    cursor:pointer;
 
    width:40%;
}

/*contact me sectionF*/
.sectionF h3{
    /* text-align: center; */
    text-align: center;
    padding: 32px 0;
    border-top:2px solid white;
    font-size: 32px;
    color:black;
    font-family: var(--font-one);
    letter-spacing: 2px;
    font-weight: 500;
}
/* .sectionE .container{
    max-width: 85% ;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
} */
.sectionF .wrap{
    display: flex;
    /* background-color: rgb(221, 221, 221); */
    /* border: 1px solid red; */
    max-width: 900px;
    /* max-width: 80% ; */
    margin:0 auto;
    box-shadow: var(--small-outer-shadow);
} 
.sectionF .containerA{
    /* border: 1px solid black; */
    flex:0.4;
    display: flex;
    align-items: center;
}
.sectionF .containerB{
    /* border: 1px solid black; */
    flex:0.6;
    
}
.sectionF .containerA .info{
    width:100%;
    padding: 30px 0;
    /* border: 1px solid black; */
    
}
.sectionF .containerA .info .card{
    
    margin-left:50px;
    padding: 15px 0;
    position:relative;
    /* border: 1px solid black; */
       

}
.sectionF .containerA .info .card div{
    position:absolute;
    font-size: 25px;
    color:red;
    left: -40px;
    transform: translateY(30%);
}

.sectionF .containerA .info .card h4{
    font-size: 22px;
    margin :5px 0px 5px;   
    font-weight: 500;
    text-transform: capitalize;
    /* border-radius:25px; */
    /* box-shadow: var(--small-inner-shadow);
    height: 30px; */
}  
.sectionF .containerA .info .card p{
    color:gray;
    
}
.sectionF .containerB .MsgBox{
    /* border: 1px solid red; */
    
    position: relative;
    height:5px;
}
.sectionF .containerB .MsgBox p{
    /* border: 2px solid green; */
    display: none;
    width: 80%;
    text-align: left;
    font-size: 18px;
    color:rgb(96, 13, 250);
    /* color:red; */
    position: absolute;
    padding-left: 10px;
    top: 10px;
    
}
.sectionF .containerB .contact{
    height:100%;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 40px 0;
}
.sectionF .containerB .contact div{
    /* border: 1px solid black; */
    padding: 15px 0;
    height: 50px;
    position:relative;
    margin-bottom:10px;
    
}

.sectionF .containerB .contact div input{
    height:40px;
    width: 75%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    /* text-decoration: none; */
    padding-left: 15px;
    outline: none;
    border-radius: 25px;
    border: none;
    box-shadow: var(--small-inner-shadow);
    border-radius: 25px;
    background-color: var(--background);
}
.sectionF .containerB .contact .cardD{
    height: 150px;
}
.sectionF .containerB .contact div textarea{
    height:100%;
    width: 75%;
    resize: none;
    position:absolute;
    top: 0;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;
    outline: none;
    border: none;
    box-shadow: var(--small-inner-shadow);
    background-color: var(--background);
}
.sectionF .containerB .contact div #btn{
    height:40px;
    width: 25%;
    /* padding: 15px 40px; */
    position:absolute;
    top: 0;
    padding:0;
    left:25%;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: var(--background);
    box-shadow: var(--small-inner-shadow);
    color:gray;
}
.sectionF .containerB .contact div #btn:hover{
    background-color: var(--background-onclick);
    box-shadow: var(--small-outer-shadow);
    color:red;
}

/*sectionG*/

.sectionG{
    margin-top: 40px;
    height: 50px;
    text-align: center;
}
.sectionG hr{
    border-top: 2px solid white;
}
.sectionG .copy-right{
    display: flex;
    justify-content: center;
}
.sectionG p{
    /* border: 1px solid red; */
    padding-top: 5px;
}
.sectionG h3{
    margin:0 5px;
    
}


