@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*
font-family: 'Acme', sans-serif;

*/

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    /* overflow: auto; */
    outline:none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* font-size: 10px */
    
}
:root{
    --color-one:rgb(253, 212, 158);
    --font-one:'Acme', sans-serif;
    --background:#d8d7d7;
    --background-onclick:#cacaca;
    --dark-color:#818181;
    --light-color:#e9e9e9;
    --inner-shadow:inset 1.8rem 1.8rem 3.6rem var(--dark-color),inset -1.8rem -1.8rem 3.6rem var(--light-color);
    --outer-shadow:1.8rem 1.8rem 3.6rem var(--dark-color),-1.8rem -1.8rem 3.6rem var(--light-color);
    /* --small-outer-shadow: 5rem 5rem 10rem var(--dark-color) ,-5rem -5rem 10rem var(--light-color);
    --small-inner-shadow:inset 5rem 5rem 10rem var(--dark-color) , inset -5rem -5rem 5rem var(--light-color); */
    --card-outer-shadow: 1.6rem 1.6rem 2.4rem #b5b5b5,-1.6rem -1.6rem 2.4rem #fbf9f9;         
    --small-outer-shadow: .3rem .3rem .2rem var(--dark-color) ,-.3rem -.3rem .2rem var(--light-color);
    --small-inner-shadow:inset .3rem .3rem .2rem var(--dark-color) , inset -.3rem -.3rem .2rem var(--light-color);
}

body{
    background-color: var(--background);
    position: relative;
    overflow-x: hidden;
}
img{
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;

-o-user-select: none;
}
header{
    position: fixed;
    height: 10rem;
    width: 100vw;
    z-index: 10;
}

header .cont{
    /* background-color: rgb(202, 200, 201); */
    height: 10rem;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    /* border: 2rem solid rgb(255, 125, 60); */
}
header .cont .logo{
    border: .2rem solid rgb(255, 125, 60);
    color: rgb(255, 125, 60);
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    margin-left: 4.5rem;
    box-shadow:  var(--small-outer-shadow);
    background-color: azure;         
    transition: 1s ease;
    cursor:default;
}

header .cont button{
    height: 6rem;
    width: 6rem;
    border-radius: 30rem;;
    text-align: center;
    /* border:none; */
    padding: 1rem;
    border: .5rem solid transparent; 
    box-shadow: inset .2rem .2rem .2rem var(--light-color) 
            , inset -.2rem -.2rem .2rem var(--dark-color);
    margin-right: 2.5rem;         
    background-color: var(--background);
    
}
header .cont button div{
    margin: .3rem 0;
    border: .1rem solid black;
    background-color: black;
    width:60%;
    transform: translateX(30%);
}
header button:hover{
    /* box-shadow: none; */
    /* box-shadow: inset 2rem 2rem 2rem var(--dark-color) 
            , inset -2rem -2rem 2rem var(--light-color); */
    
               
}
header .cont button:hover > div{
    border-color: red;
}

header .cont .container .dropdown {
    position: relative;
}
header .cont .container .dropdown .box {
    width: 20rem;
    /* height: 300rem; */
    /* border: 1rem solid red; */
    display: none;
    position: absolute;
    right:2.5rem;
    z-index: 10;
    background-color: var(--background);
    box-shadow: var(--small-inner-shadow);
    
}
header .cont .container .dropdown .box div{
    padding: 1rem 2rem;
   
    border-top: .2rem solid rgb(184, 184, 184);
    border-radius: 2.5rem;
    /* margin-top: 10rem; */
    box-shadow: var(--small-inner-shadow);
    border: 1rem solid transparent;
}
header .cont .container .dropdown .box a{
    text-decoration: none;
    /* border: 1rem solid red; */
    color:gray;
    font-size: 2rem;
    text-transform: capitalize;
    
}
header .cont .container .dropdown .box div:hover{
    box-shadow: inset .3rem .3rem .2rem var(--light-color) 
            , inset -.3rem -.3rem .2rem var(--dark-color);
}
header .cont .container .dropdown .box a:hover{
    color:rgb(96, 13, 250);
    letter-spacing: .1rem;
}
/*sectionA*/
.sectionA{
    display: flex;
    /* border:1rem solid black; */
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    padding: 15rem 0;
    width:100vw;
    
}
.sectionA .colA{
    /* border:2rem solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* max-height: 400rem; */
    width: 50rem;
   
    
}
.sectionA .colA p{
    font-size: 8rem;
    margin:0 0 1rem 0;
}
.sectionA .colA h4{
    font-size: 2.5rem;
    font-weight: 500;
    color:rgb(93, 93, 93)
}
.sectionA .colA h3{
    font-weight: 500;
    font-size: 3rem;
    
    
}
.sectionA .colA div {
    /* width:100%; */
    margin-top: 1.5rem;
    box-shadow:var(--small-inner-shadow);
    padding: .5rem;
    border-radius: 2.5rem;
    border:none;
}        
.sectionA .colA button{
    
    padding: 1.5rem 2rem;
    margin: .1rem ;
    border: none;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    background-color: var(--color-one);
    box-shadow:var(--small-outer-shadow)
   
    
}
.sectionA .colA button a{
    text-decoration: none;
    color: black;
}
.sectionA .colA span{
    font-family: 'Acme', sans-serif; ;
}
.sectionA .colB{
    
    /* border: 10rem solid #000000; */
    box-shadow:var(--inner-shadow);
            
    /* height: 340rem;
    width:340rem;          */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    
}
.sectionA .colB img{
    max-height: 50rem;
    max-width:50rem;
    border-radius:50%;
    border: 1rem solid transparent;
    object-fit: contain;
    box-shadow: var(--outer-shadow);
}
/* 7rem 7rem 20rem #000000 inset,
7rem 7rem 20rem #000000, */

.sectionB {
    position: relative;
}
.sectionB .effects{
    position: absolute;
    z-index:0;
}


.sectionB .effect1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    width: 5rem;
    /* border: 1rem solid red; */
    /* height:15 */
    bottom: 55rem;
    left:1rem;
    transform: rotate(45deg);
}
.sectionB .effect1 div{
    width: .5rem;
    height: .5rem;
    background-color: rgb(246, 97, 11);
    margin:0 .5rem .5rem;
    animation:topBounce 2s linear infinite ;
}
.sectionB .effect2{
    width: 4rem;
    height:4rem;
    border: .8rem solid rgb(31, 98, 255);
    bottom: 65rem;
    right: 10rem;
    animation:spin 4s linear infinite;
}
.sectionB .effect3{
    /* width: 100rem; */
    width: 5rem;
    height: 5rem;
    bottom: 10rem;
    left: 20%;
    display: flex;
    border-radius: 50%;
    /* border: 1rem solid green; */
    overflow: hidden;
    animation :spin 12s linear infinite ;
}
.sectionB .effect3 div{
    height: 6rem;
    width: .2rem;
    border: .1rem solid red;
    margin:0 .2rem;
}

.sectionB .effect4 {
    border-top:3.5rem solid transparent ;
    border-left:3.5rem solid rgb(23, 228, 75) ;
    /* border-right:25rem solid rgb(23, 228, 75) ;
    border-bottom:25rem solid transparent ; */
    bottom: 60rem;
    right: 50%;
}
.sectionB .effect4::before{
    content: '';
    border-top:3.5rem solid transparent ;
    border-left:3.5rem solid rgb(23, 228, 75) ;
    opacity: 0.4;
    position: absolute;
    right: 1.5rem;
    bottom: -1rem;
} 
.sectionB .effect5{
    width: 20rem;
    height: 20rem;
    border-radius:50%;
    border: 3rem solid orange;
    bottom: 72.5rem;
    left: 50%;
    animation: LeftRight 3s linear infinite;
    
}
.sectionB .copy-of5{
    width: 10rem;
    height: 10rem;
    border-radius:50%;
    border: 20rem solid rgb(106, 42, 245);
    z-index: -1;
    left: -30rem;
    bottom: 10rem;
    animation: topdown 5s linear infinite;
}
.sectionB .copy-of2-a{
    width: 2.0rem;
    height:2.0rem;
    border: .5rem solid rgb(174, 71, 243);
    bottom: 10rem;
    right: 10rem;
    animation:spin 2s linear infinite;
}
.sectionB .copy-of2-b{
    width: 2rem;
    height:2rem;
    /* border: 7rem solid rgb(240, 146, 58); */
    background-color: rgb(255, 178, 107);
    bottom: 70rem;
    left: 25%;
    animation:spin 3s linear infinite;
    z-index: -2;
}
.sectionB .copy-of2-c{
    width: 1rem;
    height:1rem;
    background-color: rgb(58, 122, 240);
    bottom: 0rem;
    right: 30%;
    animation:spin 3s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionB .copy-of2-c .small-sq{

    width: 1rem;
    height:1rem;
    background-color: rgb(58, 122, 240);
    
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionB .copy-of2-c .small-sq div{
    width: .5rem;
    height:.5rem;
    border-radius: .5rem;
    background-color: rgb(58, 122, 240);
}
@keyframes topdown{
    0%,100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(50%);
    }
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce{
    0%,100%{
        margin:0 5rem 5rem;
    }
    50%{
        margin:0 4rem 4rem;
    }
}
@keyframes LeftRight{
    0%,100%{
        transform: translateX(0);
       
    }
    50%{
        transform: translateX(30rem);
        overflow: hidden;
    }
}
/*SectionB about me*/
.sectionC{
    
    
}
.sectionC a{
    text-decoration: none;
    color:black;
}
.sectionC h3{
    text-align: center;
    padding: 3.2rem 0;
    border-bottom:.2rem solid white;
    font-size: 3.2rem;
    color:black;
    font-family: var(--font-one);
    letter-spacing: .2rem;
    font-weight: 500;
    
}
.sectionC .container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);
    /* border: .1rem solid red; */
    width: 100vw;
    
} 
.sectionC .boxA{
    flex:40%;
    padding-top: 3rem;
    position: relative;
    /* border: .1rem solid green; */
}
.sectionC .boxA .img-box {
   /* border: .3rem solid violet; */
   width: 40rem;
   height: 40rem;  
   border-radius: 50%;
   overflow: hidden;
   box-shadow: var(--small-outer-shadow);
   border: none;
   margin:0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
} 
.sectionC .img-box img{
    width: 38rem;
    height: 38rem;
    /* object-fit: contain; */
    border-radius: 50%;
    box-shadow: var(--small-inner-shadow);
    /* border: 1rem solid var(--color-one); */
    
}
.sectionC .icons {
    /* border: 1rem solid red; */
     text-align: center;
     padding:5rem 0;
}
.sectionC .icons div{
   display: inline-block;
   font-size: 2.5rem;
   margin: 1rem 1rem;
   box-shadow: var(--small-outer-shadow);
   /* padding:5rem 10rem; */
   width: 5rem;
   height: 4rem;
   position: relative;
}
.sectionC .icons div i{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50% );
}
.sectionC .icons div:hover{
    color:red;
    box-shadow: var(--small-inner-shadow);
}
.sectionC .icons div:hover a{
    color:red;
    box-shadow: var(--small-inner-shadow);
}
.sectionC .boxB{
    flex:50%;
    text-align: center;
    padding-left:2rem ;
    /* border: .1rem solid green; */
    position: relative;
   
}
.sectionC .boxB div{
    /* border: .1rem solid green; */
    max-width: 60rem;
    
}
.sectionC .boxB p{

    text-align: left;
    /* font-size: clamp(1vw,1vw,22rem);22  */
    font-size: 2.2rem;
    /* font-size:calc(1vw) ; */
    
    /* border: 1rem solid black; */
    /* margin: auto auto; */
    /* box-shadow:var(--inner-shadow) */
    color: gray; 
    /* text */
    padding: 1rem 0;
    font-weight: 500;
}
.sectionC .boxB p span{
    color:black    
}
.sectionC .buttons{
    /* border: 1rem solid black; */
    padding: 1rem 0;
   
}
.sectionC button{
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2.5rem;
    margin: 1rem 2.5rem;
    background-color: var(--color-one);
    box-shadow:var(--small-outer-shadow);
    font-size: 1.5rem;
    
    
}
.sectionC .hire{
    position: relative;
    border-radius: 2.5rem 0rem 2.5rem 2.5rem;
}
.sectionC .hire:hover::before{
    content:attr(mail);
    display:block;
    width:20rem;
    height: 3rem;
    position:absolute;
    top:-4rem;
    left:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:var(--small-outer-shadow);
    cursor:hand;
    border-radius: 2.5rem 2.5rem 2.5rem 0;

}

.sectionC a{
    text-decoration: none;
    color:black;
    cursor:pointer
}
/* @media screen all and (max-width:){
    .sectionC     
} */

/*sectionD*/
.sectionD{
    margin-top :10rem ;
    min-height: 60rem;
    /* border:.1rem solid green; */
    width:100vw;
    padding-bottom: 5rem;
}
.sectionD .options{
    display: flex;
    /* border-top: 2rem solid white; */
    justify-content: center;
}
 
.sectionD .options button{
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2.5rem;
    margin: 1rem 2.5rem;
    
    box-shadow:var(--small-outer-shadow);
    font-size: 1.5rem;
}
.sectionD .options button:hover{
    
}
.sectionD .options .active{
    background-color: var(--color-one);
    box-shadow:var(--small-inner-shadow);
}


.sectionD .skills{
    margin: 3rem 0;
    display:none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10rem;
    /* min-height: 500rem; */
    
}
.sectionD .skills-active{
    display: flex;
}
.sectionD .skills .box{
    width:45%;
    margin: 1.5rem 1rem;
    /* display: flex;
    flex-direction: column; */
}

.sectionD .skills .box div{
    max-width:60rem;
    height: 2rem;
    /* border: 1rem solid black; */
    border-radius: 1rem;
    box-shadow: var(--small-inner-shadow);
    /* border: 1rem solid green; */
    background-color: rgb(236, 236, 236);
    padding-left: .5rem ;
    position:relative;
}
.sectionD .skills .box:nth-child(odd) {
    padding: 1rem 1rem 0 calc(45% - 60rem) ;
  
} 
.sectionD .skills .box p{
    font-size: 2rem;
    letter-spacing: 1pt;
    font-family:var(--font-one);
}
.sectionD .skills .box span{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
    display:inline-block;
    box-shadow: var(--small-outer-shadow);
    background-color:rgb(71, 171, 230);
    height: 1rem;
    border:.5rem solid transparent;
}

/*sectionD education*/
.sectionD .education,.sectionD .experience{
    position: relative;
    /* border: .1rem solid red; */
    padding-top: 5rem ;
    margin-top: 5rem;
    display: none;
    
}
.sectionD .education-active,.sectionD .experience-active{
    display: block;
}
.sectionD .education .cont,.sectionD .experience .cont{
    width:100%;
    padding: 2rem 3rem;
}
.sectionD .education .cont::before,
.sectionD .experience .cont::before{
    content:'';
    height: 100%;
    width: .2rem;
    /* border: 2rem solid red; */
    background-color: red;
    position: absolute;
    left:50%;
    top: 0;
}
.sectionD .education .row,
.sectionD .experience .row{
    /* width: 50%; */
    /* border: 1rem solid red; */
    /* max-height: 400rem; */
    position: relative;
    height: 20rem;
}

.sectionD .education .row .card,
.sectionD .experience .row .card{
    /* border: 1rem solid black; */
    padding: 1.5rem 2rem;
    max-width: 42.5rem;
    position: absolute;
    box-shadow: var(--card-outer-shadow);
    border-radius: 1.5rem;
}

.sectionD .education .row .cardodd,
.sectionD .experience .row .cardodd{
    right:calc(50% + 5rem);
    text-align: right;
}
.sectionD .education .row .cardeven,
.sectionD .experience .row .cardeven{
    left:calc(50% + 5rem);
    text-align: left;
}

.sectionD .education .row .card h5,
.sectionD .experience .row .card h5{
    font-size: 1.6rem; 
    font-weight: 500;
}
.sectionD .education .row .card h3,
.sectionD .experience .row .card h3{
    font-size: 2.2rem;
    text-transform: capitalize;
    margin: .6rem 0;
    /* position: relative;  */
}
.sectionD .education .row .card h3::after,
.sectionD .experience .row .card h3::after{
    content:'';
    width: 3rem;
    height: .2rem;
    /* border: 1rem solid red; */
    background-color: red;
    position: absolute; 
}  
.sectionD .education .row .cardodd h3::after,
.sectionD .experience .row .cardodd h3::after{
    right:-3rem;
    transform: translateY(1.5rem);
}
.sectionD .education .row .cardeven h3::after,
.sectionD .experience .row .cardeven h3::after{
    left:-3rem;
    transform: translateY(1.5rem);
}
.sectionD .education .card p,
.sectionD .experience .card p{
    font-size: 2.2rem;
}
.sectionD .education .row .card .icon,
.sectionD .experience .row .card .icon{
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: .1rem solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color :white;
}
.sectionD .education .row .card .icon-odd,
.sectionD .experience .row .card .icon-odd {
    right:-5rem;
    transform: translateX(50%);
}
.sectionD .education .row .card .icon-even,
.sectionD .experience .row .card .icon-even {
    left:-5rem;
    transform: translateX(-50%);
}
/*exerience different style*/
.sectionD .experience .cont::before{
    background-color:blue;
}
.sectionD .experience .row .card h3::after{
    background-color:blue;
}
.sectionD .experience .row .card .icon{
    font-size: 4rem;
    border:none;
    color:blue
    
}



/*sectionE */
.sectionE{
    margin-bottom: 3rem;
}
.sectionE a{
    text-decoration: none;
    color:black
}
.sectionE h3{
    text-align: center;
    padding: 3.2rem 0;
    border-top:.2rem solid white;
    font-size: 3.2rem;
    color:black;
    font-family: var(--font-one);
    letter-spacing: .2rem;
    font-weight: 500;
}
.sectionE .container{
    max-width: 85% ;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    
}
.sectionE .container .cards{
    margin: 2rem 1.5rem; 
    box-shadow: var(--small-outer-shadow);
    padding: 1rem;
    border-radius:2rem;
}

.sectionE .container .cards .card img{
    width: 37.5rem;
    height: 22rem;
    border-radius: 2rem;
    border: .5rem solid transparent; 
    padding: 1rem;
    box-shadow: var(--small-inner-shadow);
    cursor:pointer;
}
.sectionE .container .cards .card h4{
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
    padding: .5rem 1.5rem ;
    color:blue;
    width:35rem;
}

.sectionE .container .cards .card p{
    text-transform: capitalize;
    padding-left: 1.5rem;
    
    font-size: 1.6rem;
    cursor:pointer;
    
    width:35rem;
}

/*contact me sectionF*/
.sectionF h3{
    /* text-align: center; */
    text-align: center;
    padding: 3.2rem 0;
    border-top:.2rem solid white;
    font-size: 3.2rem;
    color:black;
    font-family: var(--font-one);
    letter-spacing: .2rem;
    font-weight: 500;
}
/* .sectionE .container{
    max-width: 85% ;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
} */
.sectionF .wrap{
    display: flex;
    /* background-color: rgb(221, 221, 221); */
    /* border: 1rem solid red; */
    max-width: 90rem;
    /* max-width: 80% ; */
    margin:0 auto;
    box-shadow: var(--small-outer-shadow);
} 
.sectionF .containerA{
    /* border: 1rem solid black; */
    flex:0.4;
    display: flex;
    align-items: center;
}
.sectionF .containerB{
    /* border: 1rem solid black; */
    flex:0.6;
    
}
.sectionF .containerA .info{
    width:100%;
    padding: 3rem 0;
    /* border: 1rem solid black; */
    
}
.sectionF .containerA .info .card{
    
    margin-left:5rem;
    padding: 1.5rem 0;
    position:relative;
    /* border: 1rem solid black; */
       

}
.sectionF .containerA .info .card div{
    position:absolute;
    font-size: 2.5rem;
    color:red;
    left: -4rem;
    transform: translateY(30%);
}

.sectionF .containerA .info .card h4{
    font-size: 2.2rem;
    margin :.5rem 0 .5rem;   
    font-weight: 500;
    text-transform: capitalize;
    /* border-radius:25rem; */
    /* box-shadow: var(--small-inner-shadow);
    height: 30rem; */
}  
.sectionF .containerA .info .card p{
    color:gray;
    font-size: 1.6rem;
}
.sectionF .containerB .MsgBox{
    /* border: 1rem solid red; */
    
    position: relative;
    height:.5rem;
}
.sectionF .containerB .MsgBox p{
    /* border: 2rem solid green; */
    display: none;
    width: 80%;
    text-align: left;
    font-size: 1.8rem;
    color:rgb(96, 13, 250);
    /* color:red; */
    position: absolute;
    padding-left: 1rem;
    top: 1rem;
    
}
.sectionF .containerB .contact{
    height:100%;
    /* border: 2rem solid greenyellow; */
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 4rem 0;
}
.sectionF .containerB .contact div{
    /* border: 1rem solid black; */
    padding: 1.5rem 0;
    height: 5rem;
    position:relative;
    margin-bottom:1rem;
    
}

.sectionF .containerB .contact div input{
    height:4rem;
    width: 75%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    /* text-decoration: none; */
    padding-left: 1.5rem;
    outline: none;
    border-radius: 2.5rem;
    border: none;
    box-shadow: var(--small-inner-shadow);
    border-radius: 2.5rem;
    background-color: var(--background);
}
.sectionF .containerB .contact .cardD{
    height: 15rem;
}
.sectionF .containerB .contact div textarea{
    height:100%;
    width: 75%;
    resize: none;
    position:absolute;
    top: 0;
    font-size: 1.6rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    outline: none;
    border: none;
    box-shadow: var(--small-inner-shadow);
    background-color: var(--background);
}
.sectionF .containerB .contact div #btn{
    height:4rem;
    width: 25%;
    /* padding: 15rem 40rem; */
    position:absolute;
    top: 0;
    padding:0;
    left:25%;
    font-size: 1.6rem;
    border-radius: 2.5rem;
    border: none;
    background-color: var(--background);
    box-shadow: var(--small-inner-shadow);
    color:gray;
}
.sectionF .containerB .contact div #btn:hover{
    background-color: var(--background-onclick);
    box-shadow: var(--small-outer-shadow);
    color:red;
}

/*sectionG*/

.sectionG{
    margin-top: 4rem;
    height: 5rem;
    text-align: center;
}
.sectionG hr{
    border-top: .2rem solid white;
   
}
.sectionG .copy-right{
    display: flex;
    justify-content: center;
    font-size: 1.6rem; 
}
.sectionG p{
    /* border: 1rem solid red; */
    padding-top: .5rem;
}
.sectionG h3{
    margin:0 .5rem;
   
}
/* @media (orientation:Landscape){
    html{
        font-size:10%;
    }   
} */
@media screen and (max-width:850px) {
    html{
        font-size:45%;
    }    
}
@media screen and (max-width:725px){
    html{
        font-size:30%;
    }    
    
    .sectionA .colB img{
        max-height: 40rem;
        max-width:40rem;
    }
    .sectionC .boxB div{
        margin:0 auto;
    }
}
@media screen and (max-width:400px){
    html{
        font-size:25%;
    }    
    .sectionA .colB img{
        max-height: 38rem;
        max-width:38rem;
    }
}
